openapi: 3.1.0
info:
  title: Bostonia Fraud Protection API
  description: |
    API endpoints for fraud detection and prevention in the Bostonia chat platform.

    ## Overview
    This API provides endpoints for:
    - Challenge-response verification
    - Trust score management
    - Device and session binding
    - Request signing key management
    - Fraud event reporting

    ## Authentication
    All endpoints require a valid JWT token in the Authorization header,
    except for challenge verification endpoints which may use alternative authentication.

    ## Rate Limiting
    Adaptive rate limiting is applied based on user trust scores.
    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests allowed
    - `X-RateLimit-Remaining`: Requests remaining in window
    - `X-RateLimit-Reset`: Unix timestamp when limit resets
    - `Retry-After`: Seconds to wait before retrying (on 429)

  version: 1.0.0
  contact:
    name: Bostonia API Team

servers:
  - url: https://api.bostonia.com
    description: Production
  - url: https://api.staging.bostonia.com
    description: Staging
  - url: http://localhost:3004
    description: Development

tags:
  - name: Challenges
    description: Challenge-response endpoints for bot detection
  - name: Trust
    description: Trust score management
  - name: Signing
    description: Request signing key management
  - name: Fingerprinting
    description: Device and session fingerprinting
  - name: Events
    description: Fraud event management

paths:
  # ==========================================================================
  # CHALLENGE ENDPOINTS
  # ==========================================================================

  /api/fraud/challenge/pow:
    post:
      tags: [Challenges]
      summary: Request a Proof-of-Work challenge
      description: |
        Generates a Proof-of-Work challenge that the client must solve
        before proceeding with a protected action.
      operationId: requestPowChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  description: Context for the challenge (e.g., endpoint being protected)
                  example: "/api/conversations/create"
      responses:
        '200':
          description: Challenge generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowChallengeResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/fraud/challenge/pow/verify:
    post:
      tags: [Challenges]
      summary: Verify Proof-of-Work solution
      description: |
        Verifies a Proof-of-Work solution. On success, returns a token
        that can be used to bypass the challenge for subsequent requests.
      operationId: verifyPowChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PowSolutionRequest'
      responses:
        '200':
          description: Solution verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeVerificationResponse'
        '400':
          $ref: '#/components/responses/InvalidSolution'
        '403':
          $ref: '#/components/responses/ChallengeFailed'

  /api/fraud/challenge/captcha/verify:
    post:
      tags: [Challenges]
      summary: Verify CAPTCHA response
      description: |
        Verifies a CAPTCHA response (reCAPTCHA, hCaptcha, etc.).
      operationId: verifyCaptcha
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeId, token]
              properties:
                challengeId:
                  type: string
                  format: uuid
                token:
                  type: string
                  description: CAPTCHA response token from provider
      responses:
        '200':
          $ref: '#/components/responses/ChallengeSuccess'
        '400':
          $ref: '#/components/responses/InvalidSolution'
        '403':
          $ref: '#/components/responses/ChallengeFailed'

  # ==========================================================================
  # TRUST SCORE ENDPOINTS
  # ==========================================================================

  /api/fraud/trust/score:
    get:
      tags: [Trust]
      summary: Get current user's trust score
      description: |
        Returns the trust score and tier for the authenticated user.
        Trust tiers affect rate limits and feature access.
      operationId: getTrustScore
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Trust score retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustScoreResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/fraud/trust/history:
    get:
      tags: [Trust]
      summary: Get trust score history
      description: |
        Returns the history of trust score changes for the authenticated user.
      operationId: getTrustHistory
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Trust history retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustHistoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # REQUEST SIGNING ENDPOINTS
  # ==========================================================================

  /api/fraud/signing/keys:
    get:
      tags: [Signing]
      summary: List user's signing keys
      description: |
        Returns all active signing keys for the authenticated user.
      operationId: listSigningKeys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Keys retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningKeysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Signing]
      summary: Generate a new signing key
      description: |
        Generates a new signing key pair for request signing.
        The secret is only returned once and must be stored securely.
      operationId: generateSigningKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId]
              properties:
                deviceId:
                  type: string
                  description: Unique device identifier
                name:
                  type: string
                  description: Human-readable key name
      responses:
        '201':
          description: Key generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewSigningKeyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/fraud/signing/keys/{keyId}:
    delete:
      tags: [Signing]
      summary: Revoke a signing key
      description: |
        Revokes a signing key, preventing it from being used for future requests.
      operationId: revokeSigningKey
      security:
        - bearerAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Key not found

  /api/fraud/signing/keys/{keyId}/rotate:
    post:
      tags: [Signing]
      summary: Rotate a signing key
      description: |
        Rotates a signing key, generating a new key and deprecating the old one.
        The old key remains valid for a grace period.
      operationId: rotateSigningKey
      security:
        - bearerAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Key rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewSigningKeyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Key not found

  # ==========================================================================
  # FINGERPRINTING ENDPOINTS
  # ==========================================================================

  /api/fraud/fingerprint/device:
    post:
      tags: [Fingerprinting]
      summary: Register device fingerprint
      description: |
        Registers a client-side device fingerprint for enhanced security.
      operationId: registerDeviceFingerprint
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceFingerprintRequest'
      responses:
        '200':
          description: Fingerprint registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  deviceId: { type: string }
                  isKnownDevice: { type: boolean }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/fraud/fingerprint/session:
    post:
      tags: [Fingerprinting]
      summary: Bind session to device
      description: |
        Creates or updates a session binding to the current device.
      operationId: bindSession
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId]
              properties:
                deviceId:
                  type: string
      responses:
        '200':
          description: Session bound
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  sessionId: { type: string }
                  bindingHash: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # FRAUD EVENT ENDPOINTS (Admin)
  # ==========================================================================

  /api/fraud/events:
    get:
      tags: [Events]
      summary: List fraud events (Admin)
      description: |
        Lists fraud events with filtering options. Admin only.
      operationId: listFraudEvents
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: query
          schema: { type: string }
        - name: eventType
          in: query
          schema: { type: string }
        - name: severity
          in: query
          schema:
            type: string
            enum: [INFO, LOW, MEDIUM, HIGH, CRITICAL]
        - name: resolved
          in: query
          schema: { type: boolean }
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Events retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudEventsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Admin access required

  /api/fraud/events/{eventId}/resolve:
    post:
      tags: [Events]
      summary: Resolve a fraud event (Admin)
      description: |
        Marks a fraud event as resolved with optional notes.
      operationId: resolveFraudEvent
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                action:
                  type: string
                  enum: [DISMISS, WARN, SUSPEND, BAN]
      responses:
        '200':
          description: Event resolved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Admin access required
        '404':
          description: Event not found

# ==========================================================================
# COMPONENTS
# ==========================================================================

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    PowChallengeResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          properties:
            challengeId:
              type: string
              format: uuid
            type:
              type: string
              enum: [PROOF_OF_WORK]
            difficulty:
              type: integer
              description: Number of leading zeros required in hash
              example: 18
            payload:
              type: object
              properties:
                prefix:
                  type: string
                  description: Prefix to use in hash computation
                  example: "a1b2c3d4e5f6..."
                algorithm:
                  type: string
                  enum: [sha256, sha3]
                maxIterations:
                  type: integer
                  example: 10000000
                timeoutMs:
                  type: integer
                  example: 30000
            expiresAt:
              type: string
              format: date-time

    PowSolutionRequest:
      type: object
      required: [challengeId, solution]
      properties:
        challengeId:
          type: string
          format: uuid
        solution:
          type: object
          required: [nonce, hash, iterations, timeTaken]
          properties:
            nonce:
              type: integer
              description: Nonce value that produces valid hash
            hash:
              type: string
              description: The resulting hash
            iterations:
              type: integer
              description: Number of iterations tried
            timeTaken:
              type: integer
              description: Time taken to solve in milliseconds

    ChallengeVerificationResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: object
          properties:
            verified: { type: boolean }
            bypassToken:
              type: string
              description: Token to bypass challenge for subsequent requests
            expiresAt:
              type: string
              format: date-time

    TrustScoreResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: object
          properties:
            userId: { type: string }
            score:
              type: integer
              minimum: 0
              maximum: 100
              description: Trust score (0-100)
            tier:
              type: string
              enum: [UNTRUSTED, LOW, MEDIUM, HIGH, VERIFIED]
            factors:
              type: array
              items:
                type: object
                properties:
                  name: { type: string }
                  value: { type: number }
                  reason: { type: string }
            lastUpdated:
              type: string
              format: date-time

    TrustHistoryResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: array
          items:
            type: object
            properties:
              timestamp: { type: string, format: date-time }
              previousScore: { type: integer }
              newScore: { type: integer }
              reason: { type: string }

    SigningKeysResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: array
          items:
            type: object
            properties:
              keyId: { type: string, format: uuid }
              name: { type: string }
              deviceId: { type: string }
              createdAt: { type: string, format: date-time }
              lastUsed: { type: string, format: date-time }

    NewSigningKeyResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: object
          properties:
            keyId:
              type: string
              format: uuid
            secret:
              type: string
              description: |
                The signing secret. Store securely - this is only returned once!
            algorithm:
              type: string
              enum: [HMAC-SHA256]
            expiresAt:
              type: string
              format: date-time

    DeviceFingerprintRequest:
      type: object
      properties:
        browserFingerprint:
          type: string
          description: Client-side computed fingerprint hash
        screenResolution:
          type: string
          example: "1920x1080"
        colorDepth:
          type: integer
          example: 24
        platform:
          type: string
          example: "Win32"
        plugins:
          type: array
          items: { type: string }
        webglRenderer:
          type: string
        canvasHash:
          type: string
        audioHash:
          type: string
        hardwareConcurrency:
          type: integer
        deviceMemory:
          type: number

    FraudEventsResponse:
      type: object
      properties:
        success: { type: boolean }
        data:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              timestamp: { type: string, format: date-time }
              eventType:
                type: string
                enum:
                  - BRUTE_FORCE
                  - CREDENTIAL_STUFFING
                  - ACCOUNT_TAKEOVER
                  - BOT_DETECTION
                  - SCRAPING
                  - API_ABUSE
                  - PAYMENT_FRAUD
                  - REVENUE_MANIPULATION
                  - FAKE_ENGAGEMENT
                  - MULTI_ACCOUNTING
                  - DEVICE_SPOOFING
                  - IP_SPOOFING
                  - SESSION_HIJACKING
                  - REPLAY_ATTACK
              severity:
                type: string
                enum: [INFO, LOW, MEDIUM, HIGH, CRITICAL]
              userId: { type: string, nullable: true }
              ipAddress: { type: string }
              details: { type: object }
              action: { type: string }
              resolved: { type: boolean }
        pagination:
          type: object
          properties:
            total: { type: integer }
            page: { type: integer }
            limit: { type: integer }

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean, example: false }
              error:
                type: object
                properties:
                  code: { type: string, example: "UNAUTHORIZED" }
                  message: { type: string, example: "Authentication required" }

    RateLimited:
      description: Too many requests
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds to wait before retrying
        X-RateLimit-Limit:
          schema: { type: integer }
        X-RateLimit-Remaining:
          schema: { type: integer }
        X-RateLimit-Reset:
          schema: { type: integer }
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean, example: false }
              error:
                type: object
                properties:
                  code: { type: string, example: "RATE_LIMITED" }
                  message: { type: string }
                  retryAfter: { type: integer }

    ChallengeFailed:
      description: Challenge verification failed
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean, example: false }
              error:
                type: object
                properties:
                  code: { type: string, example: "FORBIDDEN" }
                  message: { type: string, example: "Challenge verification failed" }
                  attemptsRemaining: { type: integer }

    InvalidSolution:
      description: Invalid challenge solution format
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean, example: false }
              error:
                type: object
                properties:
                  code: { type: string, example: "VALIDATION_ERROR" }
                  message: { type: string }

    ChallengeSuccess:
      description: Challenge completed successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChallengeVerificationResponse'
